@font-face {
  font-family: 'KCC-Hanbit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.new-star-container {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-family: 'KCC-Hanbit', sans-serif;
}

.new-star-container form {
  display: flex;
  flex-direction: column;
}

.new-star-container form div {
  margin-bottom: 15px;
}

.new-star-container form label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.new-star-container form input,
.new-star-container form select,
.new-star-container form textarea {
  font-family: 'KCC-Hanbit';
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.new-star-container form button {
  font-family: 'KCC-Hanbit';
  padding: 10px 20px;
  background-color: #A9D3FF;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.new-star-container form button:hover {
  background-color: #17579b;
}

#content {
  width: 550px;
  height: 200px;
}

#name{
  font-weight: bold;
  font-size: 20px;
  font-weight: bold;
}

#star-rating{
  color: gold;
}
