body * {
    font-family: 'KCC-Hanbit', sans-serif;
}

#place-info {
    width: 680px;
    /* border: 1px solid black; */
    margin: auto;
    font-size: 13px;
    padding: 30px;
    margin-top: 20px;
}

#place-info * {
    margin: 2px;
}

#placeImg {
    padding-bottom: 0;
}

#placeName {
    font-weight: bolder;
    font-size: 30px;
    font-family: 'KCC-Hanbit', sans-serif;
    float: left;
    padding-top: 0;
}

#address {
    padding: 5px;
    font-family: 'KCC-Hanbit', sans-serif;
}

table #placeName {
    margin: 5px;
}

#place-category span {
    width: 50px;
    padding: 5px 20px;
    border-radius: 15px;
    text-align: center;
    font-family: 'KCC-Hanbit', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: bisque;
    
}


#star-span {
    color: gold;
    display: inline-block; 
    margin: 0 2px; 
    font-size: 1rem; 
}

#star-rating {
    margin-top: 0; 
}

#avg {
    font-size: 10px;
    padding-left:4px;
    font-family: 'KCC-Hanbit', sans-serif;
    margin-bottom: 0;
}

#avg-star{
    float: left;
}

#registStar{
    float: left;
    margin-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-size: 12px;
    background-color: lightblue;
}

#etc {
    display: flex;
    align-items: center; 
}

#locationMap {
    background-color: lightblue;
    padding: 5px 50px; 
    border-radius: 20px;
    font-family: 'KCC-Hanbit', sans-serif;
    margin-right: 15px; 
}

#phone {
    background-color: lightblue;
    padding: 5px 10px; 
    border-radius: 20px;
    font-family: 'KCC-Hanbit', sans-serif;
    margin-right: 10px; 
}

#phone {
    margin-right: 0;
}

#phone{
    margin-left: 0px;
}

table img {
    width: 300px;
    height:220px;
    margin: auto;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}