#img,
#etc {
    width: 20%;
}

table img {
    width: 180px;
    margin: auto;
}

.star,
.member-nickname {
    font-size: 15px;
    float: left;
    margin: 25px;
    font-family: 'KCC-Hanbit', sans-serif;
}

.star-span {
    color: yellow;
}

.star-block img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    float: left;
}

.star-block .comment {
    font-family: 'KCC-Hanbit', sans-serif;
}

.star-block {
    width: 680px;
    height: 120px;
    border: lightblue solid 2px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    position: relative;
}

#stars {
    margin: auto;
}

#star-info {
    float: left;
}

@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}